@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
main{
    min-width: 375px;
    min-height: 500px;
    width: 50%;
    height: 500px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.gamestatus{
    position: absolute;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
.gamestatus p{
   color: yellow;
}
.gamestatus p span{
    color: #fff;
}
.sonic{
    position: absolute;
    height: 110px;
    bottom: 50px;    
}
.jump{
    animation: sonic-jump 500ms ease-out ;
}
.fundo{
    width: 100%;
    height: 500px;
}
.crabred{
    position: absolute;
    width: 100px;
    bottom: 50px;
    right: -130px;
    animation: crabred-animation 2s linear infinite;
    
}

footer{
    padding: 20px;
}
/*========animaçoes===============*/
@keyframes sonic-jump{
    0%{
        bottom: 50px;
    }
    30%{
        bottom: 150px;
    }
    40%{
        bottom: 150px;
    }
    50%{
        bottom: 150px;
    }
    60%{
        bottom: 150px;
    }
    70%{
        bottom: 150px;
    }
    80%{
        bottom: 150px;
    }
    90%{
        bottom: 150px;
    }
    100%{
        bottom: 50px;
    }
}


@keyframes crabred-animation {
    from{
        right: -130;
    }
    to{
        right: 100%;
    } 
}